:root { 
  --athens-gray: #e9ecf6;
  --black: #000000;
  --cultured-pearl: #f5f5f5;
  --east-bay: #435179;
  --shark: #282828;
  --waterloo-: #747c93;
  --white: #ffffff;
 
  --font-size-l: 16.7px;
  --font-size-m: 16px;
  --font-size-s: 12.5px;
  --font-size-xl: 17px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 19px;
  --font-size-xxxxl: 20.8px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.poppins-normal-shark-12-5px {
  color: var(--shark);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-east-bay-16px {
  color: var(--east-bay);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.poppins-normal-white-19px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-east-bay-17px {
  color: var(--east-bay);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-east-bay-18px {
  color: var(--east-bay);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-bold-black-17px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.poppins-medium-east-bay-18px {
  color: var(--east-bay);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-east-bay-18px {
  color: var(--east-bay);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-waterloo--16px {
  color: var(--waterloo-);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
